# 환경변수 견본 파일
# .env 파일에 아래 값을 채워 넣으세요.

POSTGRES_DB=teamg_db

POSTGRES_USER=techeer_teamg

POSTGRES_PASSWORD=(팀원 이름 가나다순으로 영문 소문자 이니셜, 민재헌에게 문의하세요)

ANTHROPIC_API_KEY=(민재헌에게 문의하세요)

GOOGLE_MAPS_API_KEY=(민재헌에게 문의하세요)

DUFFEL_ACCESS_TOKEN=(민재헌에게 문의하세요)

LITEAPI_KEY=(민재헌에게 문의하세요)
